/* This is the main CSS File */

html {
  font-size: 10px; /* Adjust as needed */
}

h1 {
  color: #130909;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.dropDownDiv {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin: 20px;
  background-color: #ffa136;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  font-size: 2.5rem;
}

.imageCarouselContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  width: 80rem;
  height: 40rem;
  background-color: #b4c1b8;
  /* z-index: 3; */
}

.imageCarouselFrame {

  grid-column: 2/4;
  grid-row: 2/4;
  background-color: #36ff79;
  z-index: 1;
}

.imageCarouselimages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column: 2/4;
  grid-row: 2/4;
  background-color: #ffa136;
  z-index: 2;
  width:80rem;

}

.imageDiv1{
  grid-column: 1/2;
  grid-template-rows: 1/1;
  background-image: url('../src/images/Image1.jpg');
  background-size: cover;
 
}

.imageDiv2{
  grid-column: 2/3;
  grid-template-rows: 1/1;
  background-image: url('../src/images/Image2.jpg');
  background-size: cover;
 
}

.imageDiv3{
  grid-column: 3/4;
  grid-template-rows: 1/1;
  background-image: url('../src/images/Image3.jpg');
  background-size: cover;
 
}

.leftArrowDiv {
  grid-column: 1/1;
  grid-row:3/3;
  padding:2rem;
}

.rightArrowDiv {
  grid-column: 4/5;
  grid-row:3/3;
  padding:2rem;
}

.circleNavigation {
  grid-column: 1/5;
  grid-row:4/5;
  padding:2rem;
  place-self: center;
}

.arrowButtonLeft{
  background-image: url('../src/images/noun-previous-1920925.svg');
  background-repeat: no-repeat;
  background-color: #dedad1;
  width:10rem;
  height:10rem;
  background-size: 9rem;
}

.arrowButtonRight{
  background-image: url('../src/images/noun-right-1920922.svg');
  background-repeat: no-repeat;
  background-color: #dedad1;
  width:10rem;
  height:10rem;
  background-size: 9rem;
}

.leftCircle, .middleCircle, .rightCircle{
  background-image: url('../src/images/noun-circle-6848128.svg');
  background-repeat: no-repeat;
  background-color: #dedad1;
  width:4rem;
  height:4rem;
  background-size: 4rem;
  background-position:center;
  opacity:0.5;
}




